{% extends "reviews/base.html" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Entrez votre nouveau mot de passe</h2>

    {% if form.errors %}
        <div class="alert alert-danger">Erreur. Veuillez essayer à nouveau.</div>
    {% endif %}

    <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
    </form>
</div>
{% endblock %}
